/* rem and em do NOT depend on html font-size in media queries!
Instead, 1rem = 1em =16px
rem sometimes doesn't work well with all browsers for media queries */

/*****************************************************/
/* BELOW 1250px (smaller desktops)                   */
/*****************************************************/

@media (max-width: 78em) {
  .hero {
    max-width: 110rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*****************************************************/
/* BELOW 1100px (landscape tablets)                   */
/*****************************************************/

@media (max-width: 69em) {
  html {
    /* we reduce the font-size by 1px, 
    9px/16px = 56.25% */
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4rem;
    row-gap: 5.6rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }
  .header {
    padding: 0 3.2;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .feature-title {
    font-size: 2rem;
  }

  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
}

/*****************************************************/
/* BELOW 944px (Tablets)                             */
/*****************************************************/
@media (max-width: 59em) {
  html {
    /* we reduce the font-size by 1px, 
    8px/16px = 0.5 = 50% */
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .logos {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }
}
